<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="https://www.krupp-krankenhaus.de/urologie-und-urologische-onkologie.html"><img width=57 height=54 src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="https://www.krupp-krankenhaus.de/urologie-und-urologische-onkologie.html"><img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
